{:lint-as {day8.re-frame.tracing/defn-traced clojure.core/defn
           day8.re-frame.tracing/fn-traced clojure.core/fn
           garden.def/defcssfn clojure.core/def
           garden.def/defkeyframes clojure.core/def
           garden.def/defrule clojure.core/def
           garden.def/defstyles clojure.core/def
           garden.def/defstylesheet clojure.core/def
           orchestra.core/defn-spec clj-kondo.lint-as/def-catch-all
           net.danielcompton.defn-spec-alpha/defn schema.core/defn
           com.rpl.specter/defcollector clojure.core/defn
           com.rpl.specter/defdynamicnav clojure.core/defn
           com.rpl.specter/defmacroalias clojure.core/def
           com.rpl.specter/defnav clojure.core/defn
           com.rpl.specter/defrichnav clojue.core/defn}
 :linters {:unresolved-symbol {:exclude [goog.DEBUG]}
           :unused-namespace {:exclude [cljs.repl]}
           :unused-referred-var {:exclude {cljs.repl [Error->map
                                                      apropos
                                                      dir
                                                      doc
                                                      error->str
                                                      ex-str
                                                      ex-triage
                                                      find-doc
                                                      print-doc
                                                      pst
                                                      source]}}}}
